<%= form_tag sessions_path do %>
<div class="form-group">
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, class: 'form-control'%>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password ,nil, class: 'form-control' %>
  </div>
  <div class="field">
    <%= label_tag :remember_me%>
    <%= check_box_tag :remember_me,nil, class: 'form-control' %>
  </div>
  <div class="actions"><%= submit_tag "Log in" , class:'btn btn-info btn-block'%></div>
<% end %> 
</div>
