<!DOCTYPE html>
<html>
<head>
  <title>Sorcery App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container-fluid" style="background-color:#d3d3d3;postion:fixed">
  <h1 class="text-center">Welcome TO <strong>NYROS TECHNOLOGIES</strong></h1>
</header>
<div class="navbar-header  col-lg-offset-1 ac">
      <a class="navbar-toggle btn " data-toggle="collapse" 
         data-target="#example-navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></a>
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%=image_tag("icon.png" ,:alt => "home image" ,:width => 100,:style=>"margin-top:-7px;") %></a>
</div>
<div class="collapse navbar-collapse ac"  id="example-navbar-collapse">
    <ul class="nav navbar-nav ">
        <%temp = items_path if current_user%>
        <%temp = login_path if !current_user%>
        <li class="active"> <%= link_to 'Items',temp , class:'btn'%></li>
   </ul>     
    <ul class="nav navbar-nav pull-right ">
        <% if current_user %>
        <li style='margin-top:17px;color:white'>Logged in as <strong><%= current_user.email %></strong>.</li>
        <li><%= link_to "Log out", logout_path , :class => 'btn' %></li>
        <% else %>
        <li><%= link_to "Sign up", signup_path, :class => 'btn '  %></li>
        <li><%= link_to "Login", login_path, :class => 'btn '  %></li>
        <li><%= link_to 'Forgot Password?', new_password_reset_path %></li>
        <% end %>
    </ul>
</div>

<% if notice %>
  <p class="alert alert-success text-center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger text-center"><%= alert %></p>
<% end %>

<div class="container">
  <%= yield %>
</div>

<br><br><br>
<footer class="container-fluid" style="background-color:#d3d3d3;padding-top:10px;width:100%;position:fixed;bottom:0;left:0;">
  <p class="text-center">Copyright © 2015 -SreeRaj</p>
</footer>
</body>
</html>
 